@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.topo {
    height: 80px;
    width: 100%;
    color: #000000;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.topo img {
    width: 75px;
    height: 53px;
}
.message-board {
    margin: 80px 0;
    padding-top: 26px;
}
.bottom {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17px;
    color: #000000;
}
.envio-reservado {
    font-size: 14px;
    font-weight: 300;
    color:#505050;
    padding: 3px 17px;
}
.bottom ion-icon {
    font-size: 32px;
}
textarea {
    border: 0px;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 30px;
    font-size: 18px;
}
textarea::placeholder{
    color:#000000;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}
strong {
    font-weight: bold;
}
.horario {
    color: #AAAAAA;
}
p{
    font-size: 14px;
}
.message {
    background-color: #FFFFFF;
    min-height: 40px;
    display: flex;
    align-items: center;
    line-height: 19px;
    margin-bottom: 4px;
    padding: 8px 8px;
    font-weight: 400;
    word-break: break-all;
}
.status {
    background-color: #DCDCDC;
    min-height: 40px;
    display: flex;
    align-items: center;
    line-height: 19px;
    margin-bottom: 4px;
    padding: 8px 8px;
    font-weight: 400;
    word-break: break-all;
}
.private_message {
    background-color: #FFDEDE;
    min-height: 40px;
    display: flex;
    align-items: center;
    line-height: 19px;
    margin-bottom: 4px;
    padding: 8px 8px;
    font-weight: 400;
    word-break: break-all;
}
.sidebar-open{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.sidebar-background{
    width: calc(100vw - 259px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
}
.sidebar {
    background-color: #FFFFFF;
    width: 259px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: #000000;
}
.sidebar-top {
    height: 84px;
}
.sidebar-mid {
    height: 60px;
}
.sidebar-mid, .sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}
.sidebar-top div, .sidebar-mid div {
    text-align: center;
    max-width: 170px;
}
.escondido {
    display: none;
}
.visibilidade > div {
    display: flex;
    margin: 0 25px 10px 20px;
    justify-content: space-between;
    align-items: center;
}
.visibilidade > div div:first-child {
    display: flex;
    align-items: center;
}
.visibilidade ion-icon {
    font-size: 22px;
}
.visibilidade p {
    padding-top: 8px;
    padding-left: 7px;
    font-size: 16px;
}
.visibilidade img {
    padding-top: 8px
}
.participantes > div {
    display: flex;
    margin: 0 25px 10px 17px;
    justify-content: space-between;
    align-items: center;
}
.participantes > div div:first-child {
    display: flex;
    align-items: center;
}
.participantes ion-icon {
    font-size: 25px;
}
.participantes p {
    padding-left: 7px;
    font-size: 16px;
}
.participantes img, .visibilidade img {
    display: none;
}
.selected-participant img, .selected-visibility img {
    display: initial;
}